
{% extends 'flatpages/default.html' %}

{% load censor %}

{% block title %}
News
{% endblock title %}


{% block content %}
    <h1>Все новости</h1>
    <h3>Опубликовано постов: {{ news|length }}</h3>
    <hr>
        {% if news %}
            <table>
                <tr>
                    <td>Заголовок</td>
                    <td>Дата публикации</td>
                    <td>Содержание</td>
                </tr>
                {% for post in news %}
                    <tr>
                        <td>{{ post.title|cenz }}</td>
                        <td>{{ post.time_in|date:'M d Y' }}</td>
                        <td>{{ post.text|truncatewords:20|cenz }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h2>Новостей нет!</h2>
        {% endif %}
{% endblock content %}